#type-blockquotes-default
  h4 1.5.1. Default blockquote
  p Wrap <code>&lt;blockquote&gt;</code> around any HTML as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.
  hr
  blockquote
    p This is a standard &lt;blockquote&gt;.
  hr
  br