#type-blockquotes-reverse
  h4 1.5.3. Reversed blockquote
  p Add <code>.blockquote-reverse</code> for a blockquote with right-aligned content.
  p You may alternatively use <code>.pull-right</code> in place of <code>.blockquote-reverse</code>.
  hr
  blockquote.blockquote-reverse
    p This is a .blockquote-reverse with a source.
    footer Another famous person
  hr
  br