#type-blockquotes-source
  h4 1.5.2. Citing a source
  p Add a <code>&lt;footer&gt;</code> for identifying the source of the blockquote.
  p You may alternatively use <code>&lt;small&gt;</code> or <code>.small</code> in place of <code>&lt;footer&gt;</code>.
  hr
  blockquote
    p This is a &lt;blockquote&gt; with a source.
    footer Someone famous
  hr
  br