#type-lists-descriptions
  h4 1.6.3. Description lists
  p Use <code>&lt;dl&gt;</code>, <code>&lt;dt&gt;</code> and <code>&lt;dd&gt;</code> to make a list of terms with their associated descriptions.
  hr
  dl
    dt Description lists
    dd A description list is perfect for defining terms.
    dt Euismod
    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    dd Donec id elit non mi porta gravida at eget metus.
    dt Malesuada porta
    dd Etiam porta sem malesuada magna mollis euismod.
  hr
  br