#type-lists-horizontaldescriptions
  h4 1.6.4. Horizontal description lists
  p Use <code>.dl-horizontal</code> to make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side.
  p Horizontal description lists will truncate terms that are too long to fit in the left column with <code>text-overflow</code>. In narrower viewports, they will change to the default stacked layout.
  hr
  dl.dl-horizontal
    dt Description lists
    dd A description list is perfect for defining terms.
    dt Euismod
    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    dd Donec id elit non mi porta gravida at eget metus.
    dt Malesuada porta
    dd Etiam porta sem malesuada magna mollis euismod.
    dt Felis euismod semper eget lacinia
    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  hr
  br