#type-lists-inline
  h4 1.6.2. Inline lists
  p Use <code>.list-inline</code> to place all list items on a single line with <code>display: inline-block;</code> and some light padding.
  hr
  ul.list-inline
    li Lorem ipsum
    li Phasellus iaculis
    li Nulla volutpat
  hr
  br