#type-inline-marked
  h4 1.3.1. Marked text
  p For highlighting a run of text due to its relevance in another context, use the <code>&lt;mark&gt;</code> tag.
  p You may alternatively use an inline element with <code>.mark</code> in place of any <code>&lt;mark&gt;</code>.
  hr
  p You can use the &lt;mark&gt; tag to <mark>highlight</mark> text.
  hr
  br