#type-body-lead
  h4 1.2.2. Lead paragraph
  p Make a paragraph stand out by adding <code>.lead</code>.
  hr
  p.lead This is a .lead &lt;p&gt;-aragraph of dummy text. Some style guides focus on graphic design, focusing on such topics as typography and white space. Web site style guides cover a publication's visual and technical aspects, along with text.
  hr
  br