#type-body-paragraphs
  h4 1.2.1. Paragraphs
  p <em>Description</em>
  hr
  p This is a &lt;p&gt;-aragraph of dummy text. A style guide or style manual is a set of standards for the writing and design of documents, either for general use or for a specific publication, organization or field. The implementation of a style guide provides uniformity in style and formatting within a document and across multiple documents.
  p This is a shorter &lt;p&gt;-aragraph of dummy text. A set of standards for a specific organization is often known as "house style."
  p And one more &lt;p&gt;-aragraph of dummy text for good measure. Many publications (notably newspapers) use graphic design style guides to demonstrate the preferred layout and formatting of a published page. They often are extremely detailed in specifying, for example, which fonts and colors to use. Such guides allow a large design team to produce visually consistent work for the organization.
  hr
  br