#code-block
  h3 2.3. Basic block
  p Use <code>&lt;pre&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.
  hr
  <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
  hr
  br