#code-input
  h3 2.2. User Input
  p Use the <code>&lt;kbd&gt;</code> to indicate input that is typically entered via keyboard.
  hr
  p To switch directories, type <kbd>cd</kbd> followed by the name of the directory.
  p To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
  hr
  br