#code-output
  h3 2.5. Sample output
  p For indicating blocks sample output from a program use the <code>&lt;samp&gt;</code> tag.
  hr
  samp This text is meant to be treated as sample output from a computer program.
  hr
  br