#code-scrollable
  h3 2.4. Scrollable block
  p <em>Description</em>
  hr
  pre.pre-scrollable
    p &lt;p&gt;Sample text here...&lt;/p&gt;
    p &lt;p&gt;Sample text here...&lt;/p&gt;
    p &lt;p&gt;Sample text here...&lt;/p&gt;
    p &lt;p&gt;Sample text here...&lt;/p&gt;
    p &lt;p&gt;Sample text here...&lt;/p&gt;
  hr
  br