doctype html
html(lang="en")
  head
    title
      |Sole style guide
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="sole.css", rel="stylesheet")
  body
    .container
      h1
        strong
          |Sole style guide
      br
      include type/index
      include code/index
      include tables/index