#type-alignment
  h3 1.4. Alignment classes
  p Easily realign text to components with text alignment classes.
  hr
  p.text-left <code>&lt;p class="text-left"&gt;</code>Left aligned text.<code>&lt;/p&gt;</code>
  p.text-center <code>&lt;p class="text-center"&gt;</code>Center aligned text.<code>&lt;/p&gt;</code>
  p.text-right <code>&lt;p class="text-right"&gt;</code>Right aligned text.<code>&lt;/p&gt;</code>
  p.text-justify <code>&lt;p class="text-justify"&gt;</code>Justified text.<code>&lt;/p&gt;</code>
  hr
  br