#type-headings
  h3 1.1. Headings
  p All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline. Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.
  hr
  h1 This is an &lt;h1&gt; heading
  h2 This is an &lt;h2&gt; heading
  h3 This is an &lt;h3&gt; heading
  h4 This is an &lt;h4&gt; heading
  h5 This is an &lt;h5&gt; heading
  h6 This is an &lt;h6&gt; heading
  hr
  h1 This is an &lt;h1&gt; heading <small>And a &lt;small&gt; subtitle</small>
  h2 This is an &lt;h2&gt; heading <small>And a &lt;small&gt; subtitle</small>
  h3 This is an &lt;h3&gt; heading <small>And a &lt;small&gt; subtitle</small>
  h4 This is an &lt;h4&gt; heading <small>And a &lt;small&gt; subtitle</small>
  h5 This is an &lt;h5&gt; heading <small>And a &lt;small&gt; subtitle</small>
  h6 This is an &lt;h6&gt; heading <small>And a &lt;small&gt; subtitle</small>
  hr
  br