#tables-bordered
  h3 3.3. Bordered table
  p Add <code>.table-bordered</code> for borders on all sides of the table and cells.
  hr
  table.table.table-bordered
    thead
      tr
        th #
        th First Name
        th Last Name
        th Username
    tbody
      tr
        td(rowspan="2") 1
        td Mark
        td Otto
        td @mdo
      tr
        td Mark
        td Otto
        td @TwBootstrap
      tr
        td 2
        td Jacob
        td Thornton
        td @fat
      tr
        td 3
        td(colspan="2") Larry the Bird
        td @twitter
  hr
  br