#tables-condensed
  h3 3.5. Condensed table
  p Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.
  hr
  table.table.table-condensed
    thead
      tr
        th #
        th First Name
        th Last Name
        th Username
    tbody
      tr
        td 1
        td Mark
        td Otto
        td @mdo
      tr
        td 2
        td Jacob
        td Thornton
        td @fat
      tr
        td 3
        td(colspan="2") Larry the Bird
        td @twitter
  hr
  br