#tables-contextual
  h3 3.6. Contextual classes
  p Use contextual classes to color table rows or individual cells.
  hr
  table.table
    thead
      tr
        th #
        th Class
        th Description
    tbody
      tr.active
        td 1
        td <code>.active</code>
        td Applies the hover color to a particular row or cell
      tr.success
        td 2
        td <code>.success</code>
        td Indicates a successful or positive action
      tr.info
        td 3
        td <code>.info</code>
        td Indicates a neutral informative change or action
      tr.warning
        td 4
        td <code>.warning</code>
        td Indicates a warning that might need attention
      tr.danger
        td 5
        td <code>.danger</code>
        td Indicates a dangerous or potentially negative action
  hr
  br