#tables-hover
  h3 3.4. Hover rows
  p Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.
  hr
  table.table.table-hover
    thead
      tr
        th #
        th First Name
        th Last Name
        th Username
    tbody
      tr
        td 1
        td Mark
        td Otto
        td @mdo
      tr
        td 2
        td Jacob
        td Thornton
        td @fat
      tr
        td 3
        td Larry
        td the Bird
        td @twitter
  hr
  br