#tables-striped
  h3 3.2. Striped rows
  p Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
  p Striped tables are styled via the <code>:nth-child</code> CSS selector, which is not available in Internet Explorer 8.
  hr
  table.table.tables-striped
    thead
      tr
        th #
        th First Name
        th Last Name
        th Username
    tbody
      tr
        td 1
        td Mark
        td Otto
        td @mdo
      tr
        td 2
        td Jacob
        td Thornton
        td @fat
      tr
        td 3
        td Larry
        td the Bird
        td @twitter
  hr
  br